*{
    margin: 0;
    padding: 0;
}

/* banner section */

.banner{
    max-width: 1320px;
    height: 600px;
    margin: 100px auto;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('/resources/Banner\ Image.png')
}

.text-container{
    position: relative;
    justify-content: center;
    padding: 175px 344px;
    
}

.banner-text{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;   
}

/* offer section style */

.offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}

.offer-title{
   color: #F00;
   text-align: center;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-top: 45px;
   margin-bottom: 16px;
}
.offer-title-des{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
    
}
.offer-pic{
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 120px;
    align-items: center;
    width: 662px;
    height: 412px;

   
}

/* welcome section style */

.welcome-text-container{
    display: flex;

}
.welcome-section{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    position: relative;
    margin: 120px auto;
    background-color: #FFF;
    width: 1320px;
    height: 600px;
}

.welcome-pic{
    padding: 65px 130px 65px 0;
}
.welcome-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    margin: 120px 94px 24px 120px;
    width: 662px;
    letter-spacing: 7.04px;
}

.welcome-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 120px;
    width: 575px;
}

.btn-icon{
    margin-top: 48px;
    margin-left: 120px;
}
.btn{
    border-radius: 8px;
    border: none;
    background: #F00;
    display: inline-flex;
    padding: 18px 28px;
    gap: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 1s;
}
.btn:hover{
    background-color: rgb(255, 254, 254);
    color: #070211;
}

/* time place section style */

.time-place{
    width: 1320px;
    height: 482px;
    padding: 120px 0;
    margin: 120px auto;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.time-place button{
    margin-top: 40px;
}

.time-title{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.red{
    color: #F00;
}

/* new year style section */

.new-year-container{
    display: flex;
    gap: 60px;
    width: 83%;
    max-width: 1320px;
    margin: 120px auto ;
    justify-content: space-between;
    
}
.new-year-title{
    color: #F00; 
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
#new-year-title-02{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.new-year-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 392px;

}
.year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.new-year-wish{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 45px;
}

.new-year-img-contain> img{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 20px;
    flex-shrink: 0;
}

/* bonus style section */
/* .holiday-container{
    text-align: center;
    margin: 120px auto;
    
    
}

.holiday-text-container .holiday-des-01{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

}
.holiday-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    margin-left: 28px;
}

.holiday-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin: 28px auto;
}


.holiday-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.discount-icon{
    position: absolute

} */

/* product section style */

.product-text-container{
    max-width: 1320px;
    margin: 0 auto ;
}
.first-title{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.secend-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 20px;
    
}

.title-des{ 
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 10px;

}
.img-container{
    max-width: 1320px;
    height: 1200px;
    margin: 0 auto ;
    justify-content: space-around;
    align-items: center;
}
.img-container img{
    max-width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.first-three-img{
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}
.last-three-img{
    display: flex;
    gap: 25px;
}

/* product section style complete*/

.sub-container{
    width: 1320px;
    height: 616px;
    margin: 120px auto;
    text-align: center;
    justify-content: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.email-icon img{
    margin-top: 80px;
}

.sub-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.sub-des{
    width: 896px;
    margin: 22px auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
  
input{
    padding: 25px 30px;
    position: absolute;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    text-align: start;
    justify-content: center;
}

.sub-btn form{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
}
.sub-btn form input{
    position: relative;
    flex-grow: 1;
    width: 648px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    border: none;
}
.sub-btn .subscribe-button{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;

}
.sub-btn button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 56px;
    cursor: pointer;
    transition: all 1s;
}
.sub-btn button:hover{
    color:black;
    background-color: rgb(224, 154, 154);

}
/* subscribe section done */

/* footer section start */
.footer-container{

}
.footer-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




